@charset "utf-8";

@font-face {
    font-family: "Font";
    src: url("https://teskgro.github.io/usufer/font.ttf"), format("truetype");
}

:root {
    /* --- color variables --- */
    --mint: #82D8D5;
    --white: #ffffff;
    --unit: 20px;
    --space: calc(1.1*var(--unit))
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, s
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    overflow: hidden;
}

body {
    background-color: var(--mint);
}

.content {
    padding: var(--space);
    padding-top: calc(0.9*var(--space));
    color: var(--white);
    font-size: var(--unit);
    line-height: var(--unit);
}

.aqua {
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(0.706245710363761*20*var(--unit));
    height: calc(20*var(--unit));
    transform: translate(-50%, -50%);
    background-image: url("https://teskgro.github.io/usufer/img/aqua-inv.png");
    background-size: contain;
    mix-blend-mode: screen;
}

.contact {
    padding: var(--space);
    padding-top: calc(0.9*var(--space));
    color: var(--white);
    font-size: var(--unit);
    line-height: var(--unit);
    position: fixed;
    bottom: 0;
    left: 0;
}

p, table, td {
    font-family: "Font";
    letter-spacing: 0.3px;
    tab-size: 3;
    -moz-tab-size: 3;
}

td:first-child {
    padding-right: calc(0.25*var(--space));
}

span {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.5px;
}

a {
    color: var(--white);
    text-decoration: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1100px) {
    :root {
        /* --mint: #0033ff; */
        --unit: 19.5px;
        --space: calc(1.1*var(--unit))
    }
    .aqua {
        width: calc(0.706245710363761*22*var(--unit));
        height: calc(22*var(--unit));
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 850px) {
    :root {
        /* --mint: #12a505; */
        --unit: 19px;
        --space: calc(1.1*var(--unit))
    }
    .aqua {
        width: calc(0.706245710363761*24*var(--unit));
        height: calc(24*var(--unit));
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root {
        /* --mint: #ff00a6; */
        --unit: 18px;
        --space: calc(1.1*var(--unit))
    }
    .aqua {
        width: calc(0.706245710363761*26*var(--unit));
        height: calc(26*var(--unit));
    }
} 